@model Capstone.ViewModels.ManageInvetoryViewModel
@using Capstone.ViewModels
@{
    ViewData["Title"] = "Inventory";
    List<ManageInvetoryViewModel> ListOfProduct = ViewBag.ListOfProduct;
}
<br />
<br />
<br />
<br />
<div class="container">
    <div class="modal fade" id="UpdateProductModal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"></div>
                <h2 class="modal-title">Return Products</h2>
                <div class="modal-body">
                    <form id="updateForm">
                        <input type="hidden" name="Id" id="id" />
                        <label>Product Name</label>
                        @Html.TextBoxFor(m => m.BaseName,new {@class="form-control",@id="BaseName"})
                         <label>Price</label>
                        @Html.TextBoxFor(m => m.Price,new {@class="form-control",@id="Price"})
                        <label>Stock</label>
                        @Html.TextBoxFor(m => m.Stocks,new {@class="form-control",@id="Stocks"})
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <a href="#" id="btnSave" class="btn btn-primary mr-2">Update</a>
                        <a href="#" id="btnCancel" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Stocks
                    </th>
                    <th class="text-center">
                        Action
                    </th>
                </tr>
            </thead>
          <tbody>
              @foreach (var item in ListOfProduct){
                  <tr>
                      <input type="hidden" value="@item.Id"/>
                      <td>
                          @item.BaseName
                      </td>
                      <td>
                          @item.Price
                      </td>
                      <td>
                          @item.Stocks
                      </td>
                      <td>
                           <a href="#" class="btn btn-success text-center EditButton" data-toggle="modal" data-target="#UpdateProductModal" >Edit</a>
                      </td>
                  </tr>
              }
          </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $(".EditButton").click(function () {
                var elements = $(this).parent().parent().children();
                $("#id").val(elements[0].value);
                $("#BaseName").val(elements[1].innerText);
                $("#Price").val(elements[2].innerText);
                $("#Stocks").val(elements[3].innerText);
            });

            $("#btnSave").click(function(){
                var updateDate = $("#updateForm").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Admin/UpdateInventory",
                    data: updateDate,
                    success:function(res){
                        console.log(res);
                        window.location.href="/Admin/ManageInventory";
                    },  
                     error: function (res) {
                        console.log(res);

                        window.location.href = "/Admin/ManageInventory";
                    }
                });
            });
        });
    </script>
}
